<div class="head progresshead"><%= profile_skill.name %></div>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= profile_skill.point %>%"> 
    <%= profile_skill.point %>% 
  </div>
</div>
