<%= provide :title, t("admin.company.update_info") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title"><%= t "admin.company.update_info" %></h3>
        </div>
        <%= render "company_form" %>
      </div>
    </div>
  </div>
</div>
