<%= provide :title, t("admin.post.edit_post") %>
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card card-default">
      <div class="card-header justify-content-center">
        <h3 class="card-title"><%= t "admin.post.edit_post" %></h3>
      </div>
      <div class="card-body">
        <%= render "post_form" %>
      </div>
    </div>
  </div>
</div>
