<div class="featured-wrap">
  <div class="container"> 
    <% if @posts.any? %>
      <ul class="listService">
        <%= render @posts %>
      </ul>
    <% else %>
      <h2><%= t "cv.applied_post" %></h2>
    <% end %>
  </div>
</div>
