@import 'adminlte';
@import 'toastr/toastr';

ul.featureInfo {
  display: flex;
}

.title-post {
  width: 200px;
}

.click-btn a {
  width: 100%;
  text-align: center;
}

select {
  word-wrap: normal;
  color: black;
  margin-left: 10px;
}

.time-btn{
  margin-bottom: 10px;
}
