@import 'adminlte';
@import 'toastr/toastr';

ul.featureInfo {
  display: flex;
  &.innerfeat li {
    flex: auto;
    text-align: center;
    align-self: center;
    vertical-align: middle;
  }
}

.title-post {
  width: 200px;
}

.click-btn a {
  width: 100%;
  text-align: center;
}

select {
  word-wrap: normal;
  color: black;
  margin-left: 10px;
}

.time-btn {
  margin-bottom: 10px;
}

.dropdown-menu {
  position: absolute !important;
}

body {
  font-size: 15px;
}

.listImg img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  object-position: center;
}

.featured-wrap h3 a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-control {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
}

.dataTables_filter, .dataTables_paginate {
  float: right;
}

.custom-select {
  margin: auto;
}
